/** Globals Config **/
:root{
  --yellow: #F7B23A;
  --red: #E23033;
  --green: #8CA637;
  --lightOrange: #F39430;
  --orange: #CB5817;
  --titlefont: 'Sedgwick Ave', cursive;
  --generalfont: 'Oswald', sans-serif;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*,*:before, *:after{
  box-sizing: inherit;
  margin: 0;
}

body{
  font-family: var(--generalfont);
  color: #FFFFFF;
}

@media (min-width: 768px) {
  #waiters-container {
    background-image: url("../img/fondo_tablet.jpg");
    background-size: contain;
    min-height: 1024px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 1fr 1fr 1fr;
  }
  .hauss-logo{
    max-width: 10rem;
    max-height: 10rem;
    margin: 3rem 0 0 3rem;
  }
  .flag-colors{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-self: flex-end;
    width: 37px;
    height: 190px;
  }
  #breakfastBtn, #AllDayBtn{
    height: 5rem;
    width: 15.5rem;
    border-radius: 2rem;
    border: none;
    color: #FFFFFF;
    background-color: #696969;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: -5rem auto 0 auto;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .active{
    background-color: var(--lightOrange);
    color: #000000;
  }
  #breakfastBtn{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #AllDayBtn{
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #products-container{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    width: 85%;
    margin: 4rem auto 0 auto;
    font-size: x-large;
  }
  #products-container th{
    font-family: var(--titlefont);
    border-bottom: 2px solid var(--yellow);
    font-size: large;
    height: 1rem;
  }
  #products-container td{
    height: 50px;
    width: auto;
    margin-bottom: -1rem;
  }
  .products-center{
    text-align: center;
  }
  #resumen-container{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 85%;
    height: auto;
    margin: 4rem auto;
    font-size: x-large;
    border: 2px solid var(--lightOrange);
    border-radius: 2rem;
  }
  #table-number{
    background: none;
    border:none;
    border-bottom: 2px solid var(--yellow);
    height: 3.5rem;
    width: 10rem;
    color: #FFFFFF;
    font-size: x-large;
    font-family: var(--generalfont);
  }
  .table{
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div h3{
    margin-right: 3rem;
  }
  div h2{
    font-family: var(--titlefont);
    margin-left: 28rem;
  }
  #resumen-products{
    margin: auto;
    width: 85%;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 2rem 0 0 0;
  }
  #cancelBtn, #orderBtn{
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    height: 5rem;
    width: 10.5rem;
    border-radius: 2rem;
    border: none;
    color: #FFFFFF;
    background-color: var(--red);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  #orderBtn{
    margin-right: 0;
    background-color: var(--green);
  }
  #orderBtn:active{
    transition: background-color ease-in;
    background-color: #3c9e1e;
  }
  #cancelBtn:active{
    transition: background-color ease-in;
    background-color: #9e1c1e;
  }
  #total{
    text-align: end;
    margin: 1rem 10rem 0 0;
  }
}